@charset "utf-8";


.container {
  width: 800px;
  margin: 30px auto;
  padding: 50px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
textarea {
  width: 700px;
  height: 500px;
}
p {
    margin: 0;
    font-size: 14px;
}
input[type="text"],
textarea {
  padding: 7px;
  border: 1px solid #666;
  background-color: #EEE;
  font-size: 14px;
}