
body {
    font-family: 'Raleway', sans-serif;
}
img {
    max-width: 100%;
}
.header_img {
    width: 30px;
}

.hamberger {
    float: left;
    margin: 10px 20px;
}

.cart {
    float: right;
    margin: 10px 20px;
}
.search {
    float: right;
    margin: 10px 20px;
}

.logo {
    padding-top: 200px;
    text-align: center;
}
.logo_img {
    max-width: 100%;
}
header {
    height: 461px;
    background-color: coral;
    /* background-image: url(img/IMG_7215.JPG); */
    background-attachment: scroll;
    background-size: contain;
}

.main {
    text-align: center;
}

footer {
    text-align: center;
}

.profile_img {
    width: 400px;
    display: block;
    top: 0;
    right: 0;
    left: 0;
}

.comment {
    max-width: 780px;
    padding: 0px 35px;
    margin: 10px 0 0 40px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}