
body {
    font-family: 'Raleway', sans-serif;
}

.header_img {
    width: 30px;
}

.hamberger {
    float: left;
    margin: 10px 20px;
}

.cart {
    float: right;
    margin: 10px 20px;
}
.search {
    float: right;
    margin: 10px 20px;
}

.logo {
    padding-top: 200px;
    text-align: center;
}
.logo_img {
    max-width: 100%;
}
header {
    height: 461px;
    background-color: coral;
    /* background-image: url(img/IMG_7215.JPG); */
    background-attachment: scroll;
    background-size: contain;
}

.main {
    text-align: center;
}

footer {
    text-align: center;
}