@charset "utf-8";

.box {
  width: 200px;
  height: 100px;
  background-color: #FFF;
  margin: 50px auto;
  border-radius: 50px / 30px;
}

body {
  margin: 0;
  background-color: cadetblue;
}
div {
  width: 440px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
}