@charset "utf-8";
body{
    font-family: "Hiragino Kaku Gothic ProN", Meirio, sans-serif;
}

h1{
    text-align:justify;
}

#backbottom{
    text-align:center;
}

a:hover{
    color:pink;
}
a:visited{
    font-style: normal;
    color:black;
}
.shoeimg{
    width: 100%;
}

table{
    width:650px;
    border:solid 1px #666666;
    border-collapse: collapse;
    background-color: #f2f2f2;
}
th,td{
    vertical-align:top;
    text-align:left;
    padding: 10px;
    border:solid 1px black;
}
th{
    text-align: left;
    background-color:#666666;
}