@charset "utf-8";
body{
    font-family: "Hiragino Kaku Gothic ProN", Meirio, sans-serif;
    background-color: bisque;
}

h1{
    text-align:justify;
}

#backbottom{
    text-align:center;
}

a:hover{
    color:pink;
}
a:visited{
    font-style: normal;
    color:black;
}
.shoeimg{
    width: 100%;
}

table{
    width:650px;
    border:solid 1px #666666;
    border-collapse: collapse;
    background-color: #f2f2f2;
}
th,td{
    vertical-align:top;
    text-align:left;
    padding: 10px;
    border:solid 1px black;
}
th{
    text-align: left;
    background-color:#666666;
}
.box01{
    width: 800px;
    height: 600px;
    background-color: mistyrose;
    background-image: url("img/dylan.jpg")
}
.box02{
    width: 800px;
    height: 600px;
    background-color: mistyrose;
    background-image: url("img/dylan.jpg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
}
.box03{
    width: 800px;
    height: 600px;
    background-color: #EEE;
    background-image: url("img/dylan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.box05{
    width: 800px;
    height: 600px;
    background-color: #EEE;
    background-image: url("img/dylan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.text{
    margin-top: 30px;
    background-color: #EEE;
    padding: 30px;
}