@charset "utf-8";

table {
  width: 650px;
  border: solid 1px #666666;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

th,
td {
  padding: 10px;
  border: solid 1px #666666;
  vertical-align: top;
}

th {
  text-align: left;
  background-color: #dddddd;
}