body{
    background-color: black;
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #ffcc00;
}
li{
    width: 50%;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: darkblue;
    border: 1px solid #cc0000;
    color: #ffffff;
    list-style: none;
}
.big{
    font-size: 30px;
}