@charset "utf-8";

.icon {
  padding-left: 30px;
  background: url("icon2.png") no-repeat left center;
  background-size: contain;
}

.icon2::before {
  content: url("icon3.png");
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}