@charset "utf-8";

body {
    margin: 0;
    background-color: cadetblue;
}
div {
  width: 440px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
}
h1 {
  font-size: 22px;
  text-align: center;
}

.button02 {
  padding: 10px 20px;
  border: 1px solid #000;
  border-bottom-width: 3px;
  font-size: 14px;
}