@charset "utf-8";

body {
  padding: 100px 0;
  background-color: beige;
  text-align: center;
}
.photo img {
  border: 10px solid #FFF;
  box-shadow: 0 0 0 10px #EEE, 0 0 0 20px #CCC, 0 0 0 30px #AAA, 0 0 0 40px #888;
}