@charset "utf-8";

body {
  background-color: black;
}
ul {
  display: flex;
  width: 100%;
  margin: 50px auto;
  padding: 0;
  background-color: #FFFFFF;
  border: 1px solid #FFCC00;
}
li {
  flex-grow: 1;
  width: 150%;
  padding: 40px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: darkblue;
  border: 1px solid #CC0000;
  color: #FFFFFF;
  list-style: none;
}
.item2{
    flex-shrink: 3;
}