@charset "utf-8";

body {
  padding: 30px;
}
table {
  border: solid 1px #666666;
  border-collapse: collapse;
}
thead {
  background-color: #dddddd;
}
th {
  text-align: left;
}
th,
td {
border: solid 1px #666666;
padding: 10px;
vertical-align: top;
}

tbody th + td {
background-color: beige;
}
tbody tr:nth-child(even) {
background-color: #f3f3f3;
}